
{% extends 'proba1/base.html' %}

{% block content %}

{% load mathfilters %}

{% load static %}





<div class="container text-center mt-5 ml-5 mr-5">

<h1>Calificaciones</h1>




    <table class="table table-striped mt-5 pagination data-page-length='25'" {% comment %} pagination hace la tabla pequeña {% endcomment %}
 >


  <td class="text-center bg-info text-white">Cuenta</td>
  <td class="text-center bg-info text-white">Tarea 1</td>

    <td class="text-center bg-info text-white">Tarea 2</td>
    <td  class="text-center bg-info text-white">Tarea 3</td>
    <td  class="text-center bg-info text-white">Promedio Tareas </td>

    <td  class="text-center bg-info text-white">Examen 1</td>
    <td  class="text-center bg-info text-white">Examen 2</td>
    <td  class="text-center bg-info text-white">Examen 3</td>
    <td  class="text-center bg-info text-white">Tarea Examen</td>
    <td  class="text-center bg-info text-white">Promedio exámenes</td>
    <td  class="text-center bg-info text-white">DataCamp</td>
    <td  class="text-center bg-info text-white">Puntos Extras</td>
    <td  class="text-center bg-info text-white">Califificación Final</td>

    {% for a in alumnos %}

    <tr>


      <td class="bg-primary text-white  text-center" >{{a.Cuenta}}</td>

        <td class="  text-center">
            {% if a.Tarea1  %}
            {{a.Tarea1}}
            {% endif %}
        </td>
        <td class="  text-center">
            {% if a.Tarea2  %}
            {{a.Tarea2}}
            {% endif %}
        </td>
        <td class="  text-center">
            {% if a.Tarea3  %}
            {{a.Tarea3}}
            {% endif %}
        </td>

        {% if a.promedio_tarea %}
            {% if a.promedio_tarea > 5.999 %}
            <td class="bg-success text-white text-center">
            
              {{a.promedio_tarea}}</td>
              {% else %}
              <td class="bg-danger text-white text-center">
            
              {{a.promedio_tarea}}</td>

            {% endif %}
          {% else %}
          <td></td>
          {% endif %}


        <td class="  text-center">
            {% if a.Examen1 %}
            {{a.Examen1}}
            {% endif %}

        </td>

        <td class="  text-center">
            {% if a.Examen2  %}
            {{a.Examen3}}
            {% endif %}

        </td>
        <td class="  text-center">
            {% if a.Examen3  %}
            {{a.Examen3}}
            {% endif %}
        </td>
        <td class="  text-center">
            {% if a.Tarea_Examen%}
            {{a.Tarea_Examen}}
            {% endif %}
        </td>

        {% comment %} Promeido examen {% endcomment %}
         {% if a.promedio_examen %}
            {% if a.promedio_examen > 5.99 %}
            <td class="bg-success text-white text-center">
            
              {{a.promedio_examen}}</td>
              {% else %}
              <td class="bg-danger text-white text-center">
            
              {{a.promedio_examen}}</td>

            {% endif %}
          {% else %}
          <td></td>
          {% endif %}
       



        <td class="  text-center">
            {% if a.DataCamp %}
            {{a.DataCamp}}
            {% endif %}
        </td>
        <td class="  text-center">
            {% if a.Puntos_Extras  %}
            {{a.Puntos_Extras}}
            {% endif %}
        </td>

        {% if a.promedio_final %}
          {% if a.promedio_final > 5.99 %}
          <td class="bg-primary text-white  text-center">

              {{a.promedio_final}}

          </td>
          {% elif a.promedio_final < 5.98%}
          <td class="bg-danger text-white  text-center">

              NP

          </td>

          {% endif %}
          {% else %}
          <td></td>
          {% endif %}








    </tr>

    {% endfor %}
   </table>

</div>




{% endblock content %}


{% if  a.Cuenta|addition:a.Cuenta > 19 %}
        <td class="bg-info text-center text-white">
             {{ a.Cuenta|addition:a.Cuenta }}
        </td>
         {% elif  a.Cuenta == None %}
         <td class=" text-center font-weight-bold">NP</td>
         {% else %}
         <td class="bg-danger text-center text-white">
             {{ a.Cuenta|addition:a.Cuenta }}
         </td>
         {% endif %}




{% comment %} <div class="container text-center">
  <h1>Your password is:</h1>
  <h2 class="alert alert-success">{{ password }}</h2>
  <h2 class="alert alert-success">{{ password2 }}</h2>


 <h3> Los número elegidos fueron: </h3>
  {{numero1}} y {{numero2}}
  <br><h1>La suma de los dos números es</h1>

    <h2 class="alert alert-success">{{ suma }} </h2>
  <br><h1>La multipliación de los dos números es</h1>
    {% if multiplicacion < 10 %}
    <h2 class="alert alert-success">{{ multiplicacion }} </h2>
    {% endif %}
  <a href="{% url 'home' %}" class="btn btn-info">Home</a>
  <br>
  {{tipo}}

  {% if multiplicacion > 10 %}
        <h2 class="alert alert-success">{{ multiplicacion }} </h2>
    {% elif multiplicacion < 10 %}
         <h2 class="alert alert-danger">{{ multiplicacion }} </h2>
  {% endif %}


  <table class="table table-striped"
  idTable="true">

  <td class="text-center">Nombre</td>
  <td class="text-center">Apellido Paterno</td>

    <td class="text-center">Carrera</td>
    <td  class="text-center">Correo</td>
    <td  class="text-center">Cuenta</td>
    <td  class="text-center">Calificación</td>

    {% for a in alumnos %}
    <tr>
      <td > {{a.Nombre}}</td>

      <td class="bg-primary text-white text-center" >{{a.Apellido}}</td>
      <td class="bg-primary text-white text-center" >{{a.Carrera}}</td>

       <td class="bg-danger text-white text-center" >{{a.Correo}}</td>

      <td class="table-dark bg-success  text-center">{{a.Cuenta}}</td>
      <td class="table-dark bg-success  text-center">

            {{a.Calif}}

      </td>



    </tr>

    {% endfor %}

  </table>





  <table class="table table-striped"
  idTable="true">

  <td>ID</td>
  <td>Uno</td>
    <td>Dos</td>
    <td>Tres</td>
    <td>Cuatro</td>
    {% for i in alldata %}
    <tr>
      <td > {{i.id}} </td>
     {% if i.uno <= 5.5 %}
      <td class="bg-primary text-white text-center" >{{i.uno}}</td>
      {% elif  i.uno > 5.5 %}
       <td class="bg-danger text-white text-center" >{{i.uno}}</td>
      {% endif   %}
      <td class="table-dark bg-success  text-center">{{i.dos}}</td>
      <td class=" text-center"> {{i.tres}}</td>
      <td class=" text-center">{{i.cuatro}}</td>

    </tr>

    {% endfor %}

  </table>








</div>

 {% endcomment %}

